SERVER_HOST=0.0.0.0
SERVER_PORT=8000

APP_NAME=tv-notification-service
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=app
DB_USERNAME=user
DB_PASSWORD=pass

AMQP_HOST=localhost
# Should be the same as ../.env AMQP_PORT
AMQP_PORT=5672
AMQP_USER=guest
AMQP_PASSWORD=guest

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailcatcher
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

KEYCLOAK_SERVICE_ACCOUNT_SYNC_ROLE=sync-user-role
KEYCLOAK_BASE_URL=https://sso.dev.tolkevarav.eki.ee
KEYCLOAK_REALM=tolkevarav-dev
KEYCLOAK_SERVICE_ACCOUNT_CLIENT_SECRET=
KEYCLOAK_SERVICE_ACCOUNT_CLIENT_ID=tv-notification-service

MICROSOFT_GRAPH_CLIENT_ID=
MICROSOFT_GRAPH_CLIENT_SECRET=
MICROSOFT_GRAPH_TENANT_ID=

AUDIT_LOG_EVENTS_EXCHANGE=audit-log-events
AUDIT_LOG_TRACE_ID_HTTP_HEADER=x-request-id
