version: "3.8"

services:
  mailcatcher:
    image: axllent/mailpit
    ports:
      - "1080:8025"

  rabbitmq:
    image: rabbitmq:latest
    ports:
      - ${AMQP_PORT}:5672
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
